<%= link_to @problem.invention.title, invention_path(@problem.invention) %><br/>
<%= link_to @problem.invention.user.name, user_path(@problem.invention.user) %><br/>
<h4><%= @problem.problem %></h4>
<% if @problem.solution %>
    <%= @problem.solution.solution %><%=link_to 'Remove solution', clear_solution_path(@problem.solution)%><br/>
<% else %>
    <%= form_for @problem.build_solution do |f| %>
        <%= f.label :solution %>
        <%= f.text_field :solution %>
        <%= f.submit "Resolve" %>
    <% end %>
<% end %>
<% if @problem.invention.user == current_user %>
    <%= link_to "Non-problem", invention_kill_prob_path(@problem.invention, @problem), method: 'delete' %>
<% end %>