<div class="topnav">
    <ul>
        <li><%= link_to 'All Inventions', categories_path %></li>
        <% if logged_in? %>
            <li><%= link_to "Invent!", new_user_invention_path(current_user) %></li>
            <li><i><%= link_to "#{current_user.name} ~ Inventions", user_inventions_path(current_user)%></i></li>
            <li><%=link_to 'Sign Out', signout_path, method: :post %></li>
        <% else %>
            <li><%= link_to "New User", new_user_path %></li>
            <li><%= link_to "Existing User", '/signin' %></li>
            <li><%= link_to "Sign in with GitHub!", '/auth/github' %></li>
        <% end %>
        <li><%= link_to "Inventor Stats", stats_path %></li>
    </ul>
</div>