<div class="topnav">
    <%= link_to 'All Inventions', categories_path %>
    <% if logged_in? %>
        <%= link_to new_user_invention_path(current_user) %>
        <i><%= link_to "#{current_user.name} ~ Inventions", user_inventions_path(current_user)%></i>
        <%=link_to 'Sign Out', '/signout'%>
    <% else %>
        <%= link_to "New User", new_user_path %>
        <%= link_to "Existing User", '/signin' %>
        <%= link_to "Sign in with GitHub!", '/auth/github' %>
    <% end %>
</div>