<%byebug%>
<% if @user.errors.any? %>
    <div id="error_explanation">
    <h4>
        <%= pluralize(@user.errors.count, "error") %>
        prohibited this post from being saved:
    </h4>

    <ul>
    <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <% end %>
    </ul>
    </div>
    <br/>  
<% end %>
<%= form_tag({controller: 'sessions', action: 'create', method: 'post'}) do %>
    <%= label_tag 'email' %>
    <%= text_field_tag 'email' %><br/>
    <%= label_tag 'password' %>
    <%= password_field_tag 'password' %><br/>
    <%= submit_tag 'Sign In'%>
<% end %>

<%= link_to "Sign in with GitHub!", '/auth/github' %>