<h3><%= invention.title %></h3>
<b><%= invention.goal %></b><br/>
<i><%= invention.description %></i>
<br/>
<% invention.problems.each do |prob| %>
    <%= prob.problem %>
    <%= prob.problem_has_solution? %>
<% end %>