<h2><%=@invention.title %></h2><br/>
<b><%=@invention.user.name %></b><br/>
<%=@invention.category.category %><br/>
<%=@invention.goal %><br/>
<%= form_for @invention do |f| %>
    <%=f.label :description %><br/>
    <%=f.text_area :description %><br/>
    <%=f.submit%>
<% end %>
<%= link_to "Kill Idea", @invention, method: 'delete' %>
