<h1><%=@user.name%>'s Invention's</h1>

<%= form_tag(user_inventions_path(@user), method: 'get') do %>
    <%= label_tag(:query, "Invention title:")  %>
    <%= text_field_tag(:query)  %>
    <%= submit_tag("Search") %>
<% end %>

<%# change this to a method call possibly in order to set up the filtered search %>

<ul>
<% @inventions.each do |invent|%>
    <li><%= link_to invent.title, invention_path(invent)%></li>
<%end%>
</ul>