<h1><%=@invention.user.name%>'s Inventions</h1>
<%= render partial: 'invention', locals: {invention: @invention} %>

<ul>

<% @invention.problems.each do |prob|%>
    <%if @invention.user == current_user %>
        <li><b><%= link_to prob.problem, invention_problem_path(@invention, prob) %></b><br/></li>
    <% else %>
        <li><b><%=prob.problem%></b></li>
    <% end %>
    <% if prob.solution %>
        <%= prob.solution.solution %><br/>
    <% else %>
        <%if @invention.user == current_user %>
            <%= render partial: 'solutions_form', locals: {solution: Solution.new} %>
            <% else %>
            This has yet to be resolved!
        <% end %>
    <% end %> 
<% end %>

</ul>

<%if @invention.user == current_user %>
    <%= render partial: 'problem_form', locals: {problem: Problem.new} %>
<% end %>